<div class="symbol">
  <div class="deathly"></div>
  <div class="hallows"></div>
</div>
<h1>H<i class="fa fa-bolt" aria-hidden="true"></i>P</h1>

<h2><%= link_to "Characters", characters_path %></h2>
<h2>Marauder's Map</h2>
<h2>Learn the spells</h2>
<h2>Wizarding World</h2>

https://www.wizardingworld.com
