<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="container">

        <header>
            <div class="center">
                <h1>Harry Potter Quiz</h1>
            </div>
        </header>

        <section id="instructions" class="center">
            <h2>How big of a fan do you think you are?</h2>
            <h3>Test your Harry Potter knowledge and see where you stand.</h3>
            <button id="startBtn">Start</button>
        </section>

        <section id="quiz">
            <div>
                <h3 class="left">Score:  <span id="displayScore">0</span></h3>
                <h3 class="right">Question: <span id="displayQCount">1</span> of  5</h3>
            </div>
            <div>
                <h2 id="askQuestion" class="center"></h2>

                <form id="form">
                    <div>
                        <input id="label0" type="radio" name="option" value="">
                        <label id="answer0" for=""></label>
                    </div>
                    <div>
                        <input id="label1" type="radio" name="option" value="">
                        <label id="answer1" for=""></label>
                    </div>
                    <div>
                        <input id="label2" type="radio" name="option" value="">
                        <label id="answer2" for=""></label>
                    </div>
                    <div>
                        <input id="label3" type="radio" name="option" value="">
                        <label id="answer3" for=""></label>
                    </div>
                </form>

            <button id="submitBtn">Submit</button>
            </div>
        </section>

        <section id="showScore">
            <h2 id="inform" class="center"></h2>
            <button id="resetBtn">Try Again?</button>
        </section>

    </div>

<!-- JavaScript -->
<script src="js/scripts.js"></script>
</body>
</html>
